* {
  font-family: "Teko", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 1.3rem;
}

body {
  background-image: url(../images/home-images/background-paylens.png);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  flex-wrap: wrap;
}

.bungee-regular {
  font-family: "Bungee", serif;
  font-weight: 400;
  font-style: normal;
  color: red;
  font-size: 1rem;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 5%;
}

.nav-content {
  display: flex;
  flex-direction: row;
  width: 90%;
  align-self: center;
  justify-content: space-between;
  background-color: #f78e69;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

nav .logo {
  display: flex;
  flex-direction: column;
  width: 10%;
  justify-content: center;
  align-content: center;
  align-items: center;
  gap: 0px;
  margin: 0;
}

nav .logo .logo-image {
  width: 70%;
  height: auto;
}

.paylens-text {
  margin-top: -5%;
}

.button-container {
  justify-content: space-between;
  margin: 2%;
  width: 70%;
}

.search-container {
  margin: 2%; 
  width: 30%;
}

.search-button {
  background-color: #a17659;
  color: #f4e9dc;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: none;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.search-bar {
  width: 70%;
  border: none;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

nav .button-container button {
  background-color: #ffe5b6;
  border: none;
  padding: 2px;
  width: 23%;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

nav .button-container button:hover {
  background-color: gold;
}

.search-button:hover {
  background-color: #442a18;
  color: white;
}

/*MAIN TAB*/

main {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  justify-items: center;
  align-items: center;
  height: 70%;
}

.scan-container {
  display: flex;
  flex-direction: column;
  max-width: 20%;
  height: auto;
  justify-content: center;
  justify-items: center;
  align-items: center;
  height: 70%;
  width: 100%;
}

.start-scanning-button {
  width: 14rem;
  height: 14rem;
  border: 5px solid black;
  background: transparent;
  margin-top: -20%;
  transition: background-color 0.5s ease;
  cursor: pointer;
}

.start-scanning-button:hover {
  background-color: gold;
  opacity: 0.7;
}

.scan-text {
  background-color: black;
  color: white;
  width: 60%;
  height: auto;
  text-align: center;
  border-radius: 7%;
  padding: 0.1rem;
  z-index: 10;
}


/*FOR CART*/
.cart {
  display: flex;
  flex-direction: row;
}

.cart-container {
  border: 5px solid blue;
  width:100%;
  height: 50%;
  max-width: 50%;
  border-radius: 20px;
}

.cart-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: #2d2c2d;
  max-height: 400px;
}
.scroll-box {
  overflow: auto; /* Enables scrolling */
  border: 2px solid black;
  padding: 10px;
}

.product-container {
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  background-color: white;
  margin: 10px;
  border-radius: 20px;
  height: 100%;
  
}

.product-image {
  background-color: green;
  margin: 5%;
  width: 90%;
  height: 25vh;
  object-fit: contain;
  border-radius: 10%;
}

.product-image img {
  width: 100%;
  height: 100%;
}

.product-button-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 5%;
}

.add-to-cart-button {
  font-size: 1rem;
}

.product-info p{
  font-family: "Teko", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 1.2rem;
  padding: 0;
  margin: 0;
}

/*ORDER SUMMARY*/
.order-summary-container {
  width: 100%;
  height: 50%;
  max-width: 20%;
  min-height: 30%;
  max-height: 50%;
}

.order-summary-container {
  background-color: #fffbe2;
  border-radius: 5%;
  width: 30%;
  display: flex;
  flex-direction: column;
}

.order-summary {
  text-align: center;
  font-size: 1.3rem;
  font-weight: bold;
  max-height: 50%;
}


.order-summary-body .order-summary-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  
}

.order-summary-info span {
  font-size: 1rem;
  padding: 0;
  margin: 0;
}

.scrollbar {
  overflow: auto; /* Enables scrolling */
  padding: 10px;
}