@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');


body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #ffffff;
  background-image: url("images/home-images/background-paylens.png");
  mix-blend-mode: multiply;
  z-index: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh; /* Ensures it covers the full viewport height */
  width: 100vw; /* Ensures it spans the full viewport width */
  margin: 0;
  background-repeat: no-repeat;
  position: absolute;
  z-index: 0;
}

/* TOP CONTAINER */
.top-container {
  position: relative;
  z-index: 1;
  padding-bottom: 20vh;
}

.bungee-regular {
  font-family: "Bungee", serif;
  font-weight: 400;
  font-style: normal;
  color: red;
  font-size: 5rem;
}

.teko-font{
  font-family: "Teko", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 2.5rem;
}

.home-background {
  position: absolute;
  
}

.middle-container {
  position: relative;
  z-index: 1;
}


.middle-container .line-container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: left;
  z-index: 2;
}



/* MIDDLE CONTAINER */

.home-logo-container {
  position: relative;
}

.line {
  width: 33%;
  height: 5rem;
  -webkit-box-reflect: right 103%;
  
}

.orange {
  background-color: #fc8156;
}

.teal {
  background-color: #00b4b4;
}

.pink {
  background-color: palevioletred;
}

.home-logo-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: transparent;
  margin-top: 20px;
  z-index: 3;
  gap: 0;
}


.paylens-text,
.motto-text {
  margin: -2%;
  padding: 0;
}

.logo-image {
  mix-blend-mode: multiply;
  width: 150x;
  height: 170px;
}

.logo-container {
  border: 3px solid gold;
  border-radius: 100px;
  padding: 10px;
  background-color: white;
  margin-bottom: 3%;
}


/* HOME BUTTONS */
.home-buttons {
  position: absolute;
  top: 150%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  margin-top: 20px;
  z-index: 3;
}

.home-buttons button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s ease;
  margin-right: 10px;
  z-index: 3;
  position: relative;
  width: 20rem;
  height: 3rem;
}

.login-button {
  background-color: #00b4b4;
  color: #ffffff;
}

.register-button {
  background-color: #fc8156;
  color: #ffffff;
}

.login-button:hover,
.register-button:hover {
  background-color: #555;
}

/* BOTTOM CONTAINER */
.bottom-container {
  position: fixed;
  z-index: 3;
  padding-top: 30vh;
}

.bottom-container .line-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  z-index: 2;
}

.bottom-container .line {
  position: absolute;
  bottom: 0%;
  width: 100%;
  height: 10px;
}

.bottom-container .line .pink {
  bottom: 0px;
}


.bottom-container .line .teal {
  bottom: 15px;
}


.bottom-container .line .orange {
  bottom: 30px;
}