@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #ffffff;
  background-image: url("images/home-images/background-paylens.png");
  mix-blend-mode: multiply;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  z-index: 0;
}

/* BACKGROUND */
.home-background {
  background-image: url("images/home-images/background-paylens.png");
  background-size: contain; /* or cover */
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  width: 100%;
  max-width: 100vw; /* Adjust as needed */
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}


.bungee-regular {
  font-family: "Bungee", serif;
  font-weight: 400;
  font-style: normal;
  color: red;
  font-size: 2.5rem;
}
 
.user-container {
  position: relative;
  padding: 5%;
  background-color: whitesmoke;
  width: 23%;
  height: 50%;
  display: flex;
  justify-content: center;
  margin-left: 30px;
  border-radius: 20px;
  z-index: 10;
}

.user-container .button-container {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.line-container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 15px;
  z-index: 0;
  width: 33%;
  height: auto;
  background-color: transparent;
  margin-top: -25%;
}

.line {
  display: flex;
  flex-direction: column;
  max-width: 33%;
  height: 3rem;
  z-index: 1;
}

/* COLORS */
.orange {
  background-color: #fc8156;
}
.teal {
  background-color: #00b4b4;
}
.pink {
  background-color: palevioletred;
}

/* BUTTONS */
button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s ease;
  margin-right: 10px;
  z-index: 3;
  position: relative;
  width: 20rem;
  height: 3rem;
  background-color: green;
  color: white;
}

button:hover {
  background-color: gold;
  color: black;
}

.customer-button {
  margin-top: 30%;
}

/* LOGO */
.for-logo {
  position: relative;
  z-index: 3;
  width: 20%;
  height: 20%;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 15;
}

.logo-image {
  mix-blend-mode: multiply;
  width: 3rem !important;
  height: 3rem !important;
  align-items: center;
  justify-content: center;
  display: flex;
  object-fit: contain;
}

.logo {
  width: 150px; /* Adjust as needed */
  height: auto; /* Maintains aspect ratio */
  max-width: 100%;
  border: 3px solid gold;
  border-radius: 100%;
  padding: 10px;
  background-color: white; 
}

.for-logo img {
  flex-shrink: 0;
}

.logo-container {
  margin-left: 80%;
  margin-top: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}